{{ header }}
<div class="container">
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="coinpays_body" style="padding-top: 20px;">
                {% if errors is defined %}
                    {% for err_message in errors %}
                    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i>
                        {{ err_message }}
                    </div>
                    {% endfor %}
                {% else %}
                    <script src="https://app.coinpays.io/assets/js/iframeResizer.min.js"></script>
                    <iframe src="https://app.coinpays.io/payment/{{ iframe_token }}" id="coinpaysiframe"
                            frameborder="0"
                            scrolling="no" style="width: 100%;"></iframe>
                    <script type="text/javascript">
                        setInterval(function () {
                            iFrameResize({}, '#coinpaysiframe');
                        }, 1000);
                    </script>
                {% endif %}
            </div>
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
{{ footer }}
